# -------------------------
# This is an example environment file
# -------------------------

# Base URL for the application
NEXT_PUBLIC_BASE_URL=https://example.com

# Email service credentials
MAILER_USERNAME=your_username
MAILER_PASSWORD=your_password
MAILER_HOST=smtp.example.com
MAILER_PORT=587

# Email service protocol (true for SSL/TLS, false otherwise)
MAILER_SECURE=false 

# MongoDB connection URI for the primary database
MONGODB_URI=mongodb+srv://your_username:your_password@cluster0.example.com/your_database

# MongoDB connection URI for the Mflix database, used by the public API
MONGODB_URI_MFLIX=mongodb+srv://your_username:your_password@cluster0.example.com/your_database

# The public API version 
API_VERSION=1

