@use 'src/common/styles/variables/colors';

.notice {
    display: inline-flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: fit-content;
    font-size: inherit;
    padding: 0;
    gap: 0.5em;
}

.notice__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
}

.notice--error .notice__icon {
    color: colors.$pink-1;
}

.notice--success .notice__icon {
    color: colors.$green-5;
}

.notice--warn .notice__icon {
    color: colors.$orange-1;
}

.notice__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: fit-content;
    gap: 0.5em;
}
